# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Logs i temp fajlovi
*.log
*.tmp

# Docker
*.env
docker-compose.override.yml

# Sistemski fajlovi
.DS_Store
Thumbs.db

# IDE fajlovi
.vscode/
.idea/
*.iml
